/*  your css code here. If applicable */
:root{
	background:#f5f5f5;
	font-family:sans-serif;
}
.heading{
	background: #011e29;
	color:white;
	text-align:center;
	font-size:10px;
	padding: 5px
}
.container{
	display:flex;
	flex-direction:row;
	margin: 10px;
}
.latest-news-section{
	display:flex;
	background: white;
	width: 30%;
	height:100%;
	flex-direction:column;
}
h3{
	font-size:150%;
	text-align:center;
}
h2{
	font-size:150%;
	text-align:center;
}
li{
	font-size:100%;
	align-content: center;
}

.main-article{
	display:flex;
	background: white;
	width: 40%;
	height:100%;
	flex-direction:column;
	margin-left:10px
}
p{
	font-size:100%;
}
.pictorial-news-section{
	display:flex;
	background: white;
	width: 30%;
	height:100%;
	flex-direction:column;
	margin-left:10px;
	text-align:center;
}